<div class="row">
	<a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
	<div class="col-md-12">
    <div ><h3>Tarifs</h3></div>
    <div><h4>{{category.report_title}}</h4></div>
	<div><h4>{{category.description}}</h4></div>
  </div>
  <div class="col-md-12">
	<table class="table table-hover">
		<thead>
			<tr><th ng-repeat='header in headers'>{{header}}</th></tr>
		</thead>
		<tr ng-repeat='report in reports'>
			<td>{{report.epaisseur}}</td><td ng-repeat='price in report.prix track by $index' title='{{price*1.15}}'>{{price}}</td>
		</tr>
	</table>
  </div>
</div>