<div class="panel panel-default" ng-repeat="sector in sectors">
	 <div class="panel-heading">
        <div class="pull-right">
			<a href="" class="btn btn-default btn-xs" ng-model="collapsed" ng-click="collapsed=!collapsed"  ><i ng-class="{'fa-chevron-down':!collapsed,'fa-chevron-up':collapsed}" class="fa "></i></a>
             <a href="" class="btn btn-default btn-xs" ui-sref="^.supplieradd({ id: sector.id })">
				<i class="fa fa-plus-circle"></i>
			</a>
			<a href="" class="btn btn-default btn-xs" ui-sref="^.edit({ id: sector.id })" ><i class="fa fa-pencil"></i></a>
        </div>
        <h3 class="panel-title">{{ sector.name }}</h3>
		<p class="panel-title">{{sector.description}}</p>
		
    </div>
	
    <table class="table table-bordered" ng-show="sector.suppliers.length && collapsed">
        <tbody>
        <tr ng-repeat="supplier in sector.suppliers">
            <th>
                <a href="" ui-sref="^.view({id: supplier.id})">{{supplier.name}}</a>
                <small>{{supplier.description}}</small>
                <div class="pull-right">
                     
                    <a href="" class="btn btn-xs btn-default" ui-sref="app.suppliers.edit({id: supplier.id})">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="" class="btn btn-xs btn-default" ng-click="removeSupplier({sectorId:sector.id, supplierId: supplier.id})">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </th>
        </tr>
        </tbody>
    </table>
    <div class="panel-body" ng-show="!sectors.length">
        <h4 class="list-group-item-heading" translate>
          There are no sectors 
        </h4>
        <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add()">here</a> to add a sector!</p>
    </div>
</div>
