<h4>
  <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>

  <span ng-show="!supplier.id" translate>Add a new supplier</span>
  <span ng-show="supplier.id" translate>Edit supplier</span>

</h4>


<div class="row">
  <div class="col-md-4">
    <div class="alert alert-danger" ng-if="addError" translate>Could not add supplier!</div>
    <formly-form result="supplier" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>
  </div>
</div>

<div class="controls">
    <button class="btn btn-primary btn-success" ng-click="onSubmit()" translate>Submit</button>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered"  >
		<thead>
			<tr>
			<td colspan="6">
				<a href="" class="btn btn-xs btn-default" ng-disabled="rowform.$waiting" ng-click="addBlanckContact()" >
					<i class="fa fa-plus-circle"></i>
				</a>
			</td>
			</tr>
			<tr>
				<th>Nom</th><th>Prenom</th><th>Email</th><th>Tel.</th><th>Tel.</th><th>&nbsp;</th>
			</tr>
		</thead>
        <tbody>
		
        <tr ng-repeat="contact in supplier.contacts">
			<td>
			<span editable-text="contact.first_name" e-name="name" e-form="rowform"  e-required>
			  <a href="" ui-sref="^.view({id: contact.id})">{{contact.first_name}}</a>
			</span>
			</td>
			<td>
				<span editable-text="contact.last_name" e-name="name" e-form="rowform"  e-required> {{contact.last_name}}</span>
			</td>
			 <td>
				<span editable-text="contact.email" e-name="name" e-form="rowform"  e-required e-placeholder="Email">
				  <a href="mailto:{{contact.email}}">{{contact.email}}</a>
				</span>
            </td>
			 <td>
               <span editable-text="contact.phone1" e-name="name" e-form="rowform"  e-required>
				  {{contact.phone1}}
				</span>
            </td>
			 <td>
               <span editable-text="contact.phone2" e-name="name" e-form="rowform"  e-required>
				  {{contact.phone2}}
				</span>
            </td>
			<td style="white-space: nowrap">
				 <form editable-form name="rowform"  ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == contact" onbeforesave="savecontact(contact, contact.id)">
					<a href="" class="btn btn-xs btn-default" ng-disabled="rowform.$waiting" ng-click="rowform.$submit()">
                        <i class="fa fa-save"></i>
                    </a>
					<a href="" class="btn btn-xs btn-default" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                        <i class="fa fa-undo"></i>
                    </a>
				  
				 </form>
				 <div class="buttons" ng-show="!rowform.$visible">
					<div class="pull-left">
                    <a href="" class="btn btn-xs btn-default" ng-click="rowform.$show()">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="" class="btn btn-xs btn-default" ng-click="deleteContact({id: contact.id})">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
				  <!--<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
				  <button class="btn btn-danger" ng-click="removeUser($index)">del</button>-->
				</div> 
			</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>

